<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyark.dao.AccessRecordMapper" >
  <resultMap id="BaseResultMap" type="com.zyark.domain.AccessRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="sid" property="sid" jdbcType="VARCHAR" />
    <result column="ip_address" property="ipAddress" jdbcType="VARCHAR" />
    <result column="handle_module" property="handleModule" jdbcType="VARCHAR" />
    <result column="last_access_time" property="lastAccessTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>