<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyark.dao.SysOrganizationHasSysUserMapper" >
  <resultMap id="BaseResultMap" type="com.zyark.domain.SysOrganizationHasSysUserKey" >
    <id column="sys_organization_id" property="sysOrganizationId" jdbcType="BIGINT" />
    <id column="sys_user_id" property="sysUserId" jdbcType="BIGINT" />
  </resultMap>
</mapper>